# Скомпилированные файлы
*.class
*.jar
*.war
*.ear

# Среда разработки
.idea/
*.iml
.vscode/
*.swp
*.swo

# Папки сборки
target/
out/
build/
bin/

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db

# Данные программы
*.dat
*.txt

# Документы и изображения (если не нужно загружать)
# *.pdf
# *.png
# *.jpg

# Настройки ОС
*.bak
~$*