# IntelliJ IDEA
.idea/
*.iml

# Compiled Java class files
*.class

# Maven
target/

# Gradle
.gradle/
build/

# Logs
*.log

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# OS
.DS_Store
Thumbs.db